h1{
  text-align: center;
  display: block !important;
  color: #CCBCBC;
}
h2{
  color: #7CEA9C;
  text-align: center;
}
#cords{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
form {
  text-align: center;
  display: block !important;
  color: #0fa3b1;
}

.form-control {
  width:fit-content !important;
  margin: auto !important;
  text-align: center;
  display: block !important;
}

p {
  display: block !important;
  text-align: center;
  color: #3f88c5;
}

ul {
  display: block !important; 
}

#cityMap {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: block !important;
  border-radius: 10%;
}

body {
  color: #1C1D21;
}

.cards {
display: flex;
flex: wrap;
justify-content: space-evenly;
padding-top: 5px;
}

.carousel-caption{
  background-color: #1c1d21;
  border-radius: 10%;
}
.carousel-text{
  color: #ccbcbc!important;
}
