h1{
  text-align: center;
  display: block !important;
  color: #CCBCBC;
}

form {
  text-align: center;
  display: block !important;
  color: #0fa3b1;
}

.form-control {
  width:fit-content !important;
  margin: auto !important;
  text-align: center;
  display: block !important;
}

p {
  display: block !important;
  text-align: center;
  color: #3f88c5;
}

ul {
  display: block !important; 
}

img {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: block !important;
  border-radius: 10%;
}

body {
  color: #1C1D21;
}

.cards {
  display: inline-block !important;
  justify-content: center !important;
  text-align: center;
  width:fit-content;
  margin-left: auto !important;
  margin-right: auto !important;

}